.seat-selection-page{
    max-width: 375px;
    height: 100vh;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 120px;
    position: relative;
}
.seat-selection-page .seats{
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    margin: -20px 25px;
}
.seat-selection-page .seats .seats-to-choose{
    display: grid;
    grid-template-columns: 26px 26px 26px 26px 26px 26px 26px 26px 26px 26px;
    justify-content: space-between;
    align-items: center;
}
.circle{
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px 0;
    font-size: 11px;
    line-height: 13px;
    color: #000;
    background-color: #c3cf9d;
    border: 1px solid #808f9d;
    border-radius: 12px;
}
.seat-selection-page .seats .seat-subtitle{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    gap: 35px;
}
.seat-selection-page .seats .seat-subtitle > div{
    font-size: 13px;
    line-height: 15px;
    font-weight: 300;
    color: #4e5a65;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.seat-subtitle > div .circle {
    margin-bottom: 5px;
}
.seat-selection-page .seats .circle.selected {
    background-color: #8DD7CF;
}
.seat-selection-page .seats .circle.unavailable {
    background-color: #FBE192;
}
.seat-selection-page .buyer-info .buyer-name,.buyer-cpf{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 3px;
}
.seat-selection-page .buyer-info input{
    width: 100%;
    height: 50px;
    font-size: 15px;
    line-height: 21px;
    color: #4e5a65;
    padding: 10px;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
}
.seat-selection-page .buyer-info input::placeholder {
    font-style: italic;
    font-size: 15px;
    line-height: 21px;
    color: #afafaf;
}


